[submodule "thirdparty/SuperGluePretrainedNetwork"]
	path = thirdparty/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork
[submodule "thirdparty/pycolmap"]
	path = thirdparty/pycolmap
	url = https://github.com/colmap/pycolmap
