setuptools==65.5.1
Pillow
numpy
Cython
tqdm
tensorboardX==2.5.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
h5py
scipy
matplotlib
termcolor  
gdown==4.5.4
timm==0.6.12
tabulate==0.8.10
PyOpenGL
omegaconf
pybind11
flask
open3d
asmk